@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F8FF;
}
/* === Header section style start === */
header{
    background-image: linear-gradient(rgba(78, 71,255,0.01)),
    url("../Assets/Hero-bg.png");
    width: 100%;
    height: 652px;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-section{
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-section h2{
    color: #4E47FF;
    font-size: 34px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}
.navbar-section button{
    font-size: 16px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    height: 48px;
    width: 132px;
}
.bannar-section{
    margin: 150px auto;
    text-align: center;
}
.bannar-section h1{
    font-size: 65px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #252432;
}
.bannar-section button{
    font-size: 16px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    width: 175px;
    height: 48px;
    border: none;
    border-radius: 15px;
    background-color: #4E47FF;
    color: #FFFFFF;
    margin-top: 30px;
}

/* === Header section style end === */
.content-section{
    max-width: 1140px;
    margin: 0 auto;
}
/* === Action Section style start === */
.action-section{
    width: 100%;
    height: 328px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 220px;
    margin: 115px 0;

}

/* .text-section{

} */
.text-section h1{
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #252432;
}
.text-section p{
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    line-height: 30px;
    color: #252432;
    margin: 20px 0;
}
.text-section button{
    font-size: 16px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
    width: 230px;
    height: 48px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}
.action-section img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* === Action Section style end === */
/* === Productive Users Section style start === */
.users-section{
    background-color: rgba(78, 71, 255, 10%);
    text-align: center;
    padding: 50px 142px;
    border-radius: 10px;
    margin-bottom: 135px;
}
.users-section h1{
    font-size: 38px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #252432;
    margin-bottom: 40px;
}
.data-subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle{

}

.subtitle .number{
    display: block;
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
}
.subtitle .sub-title{
    display: block;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 50%);
}
/* === Productive Users Section style end === */



